body {
    /* font-family: 'Cairo', sans-serif; */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    direction: rtl; /* تغيير اتجاه الكتابة */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: right; /* ضبط محاذاة النص إلى اليمين */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* ضبط محاذاة القائمة إلى الوسط */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.product h3, .product p {
    margin: 5px 0;
}

.product button {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #45a049;
}

footer {
  width: 89.8%;
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

#btnScrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
}

#btnScrollToTop:hover {
    background-color: #555;
    transform: scale(1.1);
}